<div class="offset1 span4">
    <a href="/auth/facebook"><img src="/img/icons/facebook.png"></a>
    <a href="/auth/github"><img src="/img/icons/github.png"></a>
    <a href="/auth/twitter"><img src="/img/icons/twitter.png"></a>
    <a href="/auth/google"><img src="/img/icons/google.png"></a>
</div>

